#FuterConLast1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 1500px;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: none;
    width: 100%; 
    height: 100%;
    align-items: start;
    margin: 0px 0px;
}
.ContenerLast{
    display: flex;
    justify-content: center; 
    align-items: center;
    color: var(--main-bg);
    background-color: var(--main-footer); 
    height: 230px;
    margin: 0px 0px 0px 0px;
    transition: color 0.5s ease-in-out, background 0.5s ease-in-out;
}
.ConLastLogo{
    width: 140px;
}
.FuterCon1DivImg{
    display: flex;
    justify-content: center;
    width: 75%;
    padding: 20px 0;
    border-radius: 12px;
    background-color: var(--main-bg);
    margin-top: 12px;
    transition: color 0.5s ease-in-out, background 0.5s ease-in-out;
}
.FuterBlocks{
    min-width: 100px;
    display: flex;
    height: 100%;
    justify-content: start;
    flex-direction: column;
    flex: 1;
    align-items: center;
    position: relative;
    padding: 0px 20px;
}
.FuterLineBord{
    align-items: start;
    box-sizing: border-box;
}
.FuterLineBord::before{
    content: "";
    left: 0px;
    position: absolute; /* Привязываем к правой стороне */ /* Смещаем вверх на половину высоты */
    width: 2px; /* Толщина борта */
    top: 25px;
    height: 150px; /* Общая высота борта (50px вверх и 50px вниз от центра) */
    background-color: var(--add-footer); /* Цвет борта */
    transition: color 0.5s ease-in-out, background 0.5s ease-in-out;
}
.FuterBlockLogoMeseg{
    display: flex;
    flex-direction: column;
}
.FuterBlocks a{
    color: var(--white);
    text-decoration: none;
}
.FuterBlocks a:hover{
    color: white;
}
.FuterBlocks p{
    margin: 12px 0px;
    font-size: 1.5rem;
}
.FuterPodBlocks p{
    margin: 0px 0px 14px 0px;
}
.ConLastMesegIcon{
    width: 25px;
}
.MesegIcons{
    display: flex;
    gap: 40px;
    margin-top: 10px;
}
.FuterCon1DivsIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 8px; 
    transition: background-color 0.2s ease-in-out;
}
.FuterCon1DivsIcon:hover{
    background-color: var(--add-bg);
}
.FuterPodListBlocks{
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    font-size: 1.2rem;
    gap: 20px;
}
.LeftNa50px{
    text-align: center;
    position: relative;
    margin: 0px auto;
    color: var(--white);
    transition: color 0.5s ease-in-out, background 0.5s ease-in-out;
}
.FuterMarginAuto{
    display:flex;
    flex-direction: column; 
    gap: 50px;
    margin: 0 auto;
}
#Footerimg{
    display: none;
    width: 30px; 
    height: 30px; 
    margin: 0 25px;
    transition: transform 0.3s ease-in-out, opacity 0.25s ease-in-out !important;
}
#FooterDivImg{
    display: block;
}
@media screen and (max-width: 1200px) {
    .FuterCon1DivImg{
        width: 100%;
    } 
}
@media screen and (max-width: 1000px) {
    .FuterLineBord::before{
        content: "";
        left: 0px;
        position: absolute; /* Привязываем к правой стороне */ /* Смещаем вверх на половину высоты */
        width: 0px; /* Толщина борта */
        top: 25px;
        height: 150px; /* Общая высота борта (50px вверх и 50px вниз от центра) */
        background-color: var(--add-footer); /* Цвет борта */
    }
    .MesegIcons{
        gap: 30px;
    }
}   
@media screen and (max-width: 767px) {
    .ContenerLast{
        display: flex;
        justify-content: center; 
        align-items: center;
        color: var(--white);
        background-color: var(--main-footer); 
        height: auto;
    }
    #FuterConLast1{
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        margin: 0px
    }
    .FuterBlocks{
        min-width: 100px;
        width: 100%;
        max-width: none;
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        flex: 1;
        position: relative;
        padding: 0px 0px;
    }
    .FuterCon1DivImg{
        display: flex;
        justify-content: start;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 0;
        background-color: var(--main-bg);
        margin-top: 0px;

    }
    .MesegIcons{
        display: flex;
        position: absolute;
        gap: 20px;
        right: 20px;
        top: 30%;
        background-color: white;
        border-radius: 8px; 
    }
    .FuterPodListBlocks{
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        flex: auto;
        flex-direction: column ;
        gap: 15px;
        margin: 0px 0px;
        overflow: hidden; /* Скрывает содержимое, выходящее за пределы блока */
        height: 0px; /* Начальная высота */
        transition: height 0.5s ease-in-out;
    }
    .FuterMarginAuto{
        width: 100%;
        gap: 20px;
    }
    .FuterLineBord::before{
        content: "";
        left: 3%;
        position: absolute; /* Привязываем к правой стороне */ /* Смещаем вверх на половину высоты */
        width: 90%; /* Толщина борта */
        top: 0px;
        height: 2px; /* Общая высота борта (50px вверх и 50px вниз от центра) */
        background-color: var(--main-footer); /* Цвет борта */
    }
    .LeftNa50px{
        text-align: start;
    }
    .FuterMarginAuto{
        margin: 15px 0 15px 15px;
        gap: 0;
    }
    .FuterBlocks p{
        margin: 20px 0px;
        font-size: 1.5rem;
    }
    #Footerimg{
        display: flex;
    }
    #FooterDivImg{
        display: flex; 
        flex-direction: row; 
        justify-content: space-between; 
        align-items: center;
    }
}
@media screen and (max-width: 390px) {
    .MesegIcons{
        gap: 3px;
    }
    
}
@media screen and (max-width: 340px) {
    .MesegIcons{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        top: 15%;
        gap: 0;
    }
}