<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %} {% endblock %}
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    {% block style %} {% endblock %}
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/menu.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
  </head>
  <body>
    <div id="divMessegeBox"></div>
    <div id="menu-placeholder"></div>
    <div id="Body">{% block body %} {% endblock %}</div>
    <div id="futer-block"></div>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/static/js/base.js" defer></script>
    {% block script %} {% endblock %}
  </body>
</html>
