{% extends "base.html" %} {% block title%}
<title>Корзина</title>
{% endblock %} {% block style %}
<link rel="stylesheet" href="/static/css/basket.css" />
{% endblock style %} {% block body %}
<div id="basket100px"></div>
<div id="bodyBasket">
  <div id="basketLeft">
    <div id="basketBasket">
      <h2>Корзина</h2>
      {% for product in basket %}
      <div class="basketProduct">
        <div class="basketFirstDiv">
          <label class="basketCheckbox customCheckbox">
            <input type="checkbox" class="basketcheckboxItem">
            <span></span>
              <img src="/static/image/menu/like.png" class="productImg" alt="">
              <img src="/static/image/dirProfil/delete.png" class="productImg" alt=""> 
          </label>
          <div class="basketproductImg">
            <img src="/static/image/productImgs/{{ product.slug }}/img1.jpg" class="basketproductImgs" alt="Продукция">
          </div>
        </div>
        <div class="basketNoCheckboxImg">
          <p class="productName" style="margin: 0px;">{{ product.name }}</p>
          <div class="basketProductDescript">
            {%for desc in description %} {%if product.id == desc[0] %} 
              <div class="basketProductDescriptions"><b>Цена</b> <br> {{ product.price }}тг </div>
              <div class="basketProductDescriptions"><b>Цвет нити</b> <br> {{ desc[1] }}</div>
              <div class="basketProductDescriptions"><b>Размер</b> <br>{{ desc[2] }}</div> 
              <div class="basketProductDescriptions"><b>Материал</b> <br> {{ desc[3] }}</div> 
              {% endif %} {% endfor %}
          </div>
        </div>
      </div>
      {%endfor %}
    </div>
    <div id="basketSys">
      <h2>Система лояльности</h2>
      <h3>Пока нету</h3>
    </div>
  </div>
  <div id="basketRight">
    <div id="basketProductsPay"></div>
    <div id="basketPay"></div>
    <div id="basketCertificate">
      <h3>Код сертификата</h3>
      <input type="text" id="basketInputSert"/>
    </div>
    <div>
      <button type="">Оформить заказ</button>
    </div>
  </div>
</div>
{% endblock body %} {% block script %}
<script src="/static/js/basket.js"></script>
{% endblock script %}
