{% extends "base.html" %} {% block title%}
<title>Корзина</title>
{% endblock %} {% block style %}
<link rel="stylesheet" href="/static/css/basket.css" />
{% endblock style %} {% block body %}
<div id="basket100px"></div>
<div id="bodyBasket">
  <div id="basketLeft">
    <div id="basketBasket">
      <h2>Корзина</h2>
      {% if basket != []%} {% for product in basket %}
      <div class="basketProduct" id="card-{{product.id}}">
        <div class="basketFirstDiv">
          <div class="basketDivLabel">
            <label class="basketCheckbox customCheckbox">
              <input
                type="checkbox"
                data-id="{{product.id}}"
                class="basketcheckboxItem"
              />
              <span></span>
            </label>
            <div class="basketLabelPodImgs">
              <img
                src="/static/icon/black/blackHeart.png"
                class="productImg basketNoLike"
                id="basketNoLike{{product.id}}"
                alt="Поставить лайк"
                data-id="{{ product.id }}"
                data-icon="blackHeart.png"
              />
              <img
                src="/static/icon/black/heart.png"
                class="productImg basketLike"
                alt="Лайк"
                data-id="{{product.id}}"
                id="basketLike{{product.id}}"
                data-icon="heart.png"
              />
            </div>
            <img
              src="/static/icon/black/delete.png"
              class="productImg basketDelete"
              alt=""
              data-id="{{product.id}}"
              id="basketDelete{{product.id}}"
              data-icon="delete.png"
            />
          </div>
          <div class="basketproductImg">
            <img
              src="/static/image/productImgs/{{ product.slug }}/img1.jpg"
              class="basketproductImgs"
              alt="Продукция"
            />
          </div>
          <input
            type="hidden"
            id="basketFavoriteProduct"
            value="{{ favorite }}"
          />
        </div>
        <div class="basketObertka3">
          <div class="basketNoCheckboxImg">
            <p class="productName" style="margin: 0px">{{ product.name }}</p>
            <div class="basketProductDescript">
              {%for desc in description %} {%if product.id == desc[0] %}
              <div class="basketProductDescriptions">
                <b>Цена</b> <br />
                {{ product.price }}тг
              </div>
              <div class="basketProductDescriptions">
                <b>Цвет нити</b> <br />
                {{ desc[1] }}
              </div>
              <div class="basketProductDescriptions">
                <b>Размер</b> <br />{{ desc[2] }}
              </div>
              <div class="basketProductDescriptions">
                <b>Материал</b> <br />
                {{ desc[3] }}
              </div>
              {% endif %} {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %} {% else %}
      <div style="font-size: 1.5rem">Товары пока не добавлены</div>
      {% endif %}
    </div>
  </div>
  <div id="basketRight">
    <div id="basketProductsPay"><h2>Товары</h2></div>
    <div id="basketPay"></div>
    <div id="basketCertificate">
      <h3>Код сертификата</h3>
      <input type="text" id="basketInputSert" />
    </div>
    <div>
      <button type="">Оформить заказ</button>
    </div>
  </div>
</div>
{% endblock body %} {% block script %}
<script src="/static/js/basket.js" defer></script>
{% endblock script %}
