{% extends "base.html" %} {% block title %}
<title>Контакты — KoDee Desire - БРАСЛЕТЫ ЖЕЛАНИЙ | ЗОЛОТО
      585 ПРОБЫ | КОЛЬЕ НА ЛЕСКЕ | КАРАГАНДА</title>
{% endblock %} {% block style %}
<link rel="stylesheet" href="/static/css/contact.css">
{% endblock %} {% block body %}
<article class="div100px"></article>
<article id="Text">
    <address>
      <p class="InDivText">KoDee Desire <br />Jewellery</p>
      <p class="InDivText">Караганда, Казахстан</p>
    </address>
    <a href="https://wa.me/77003360024"
    target="_blank"
    rel="noopener noreferrer"
    style="text-decoration: none">
      <p class="InDivText" id="contactNum">+7 (700) 336-00-24</p>
    </a>
    <a
      href="https://www.instagram.com/kodee_jewellery/"
      target="_blank"
      rel="noopener noreferrer"
      style="text-decoration: none"
    >
      <p class="InDivText" id="Instagram">Instagram</p>
    </a>
  </div>
</article>

  {% endblock %} {% block script %}
  <script src="/static/js/contact.js"></script>
  {% endblock%}
