{% extends "baseindex.html" %} {% block title %}
<title>
  Kodee Desire - БРАСЛЕТЫ ЖЕЛАНИЙ | ЗОЛОТО 585 ПРОБЫ | КОЛЬЕ НА ЛЕСКЕ |
  КАРАГАНДА
</title>
{% endblock %} {% block style %}
<link rel="stylesheet" href="/static/css/index.css" />
{% endblock %} {% block body %} {% if messageForReg == True %}
<div id="messageForReg"></div>
{% endif %} {% if messageForLog == True %}
<div id="messageForLog"></div>
{% endif %} {% if messageForNoReg == True %}
<div id="messageForNoReg"></div>
{% endif %} {% if admin %}
<a
  href="/admin/deshboard"
  style="
    width: 50px;
    height: 50px;
    position: fixed;
    top: 30%;
    right: 10%;
    z-index: 1000;
    border-radius: 50%;
    background-color: var(--add-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px var(--grey);
  "
>
  <img
    src="/static/icon/black/profil.png"
    style="width: 35px; height: 35px"
    alt="Admin"
    data-icon="profil.png"
  />
</a>
{% endif %}
<div
  style="width: 100%; height: 100px; flex-shrink: 0; position: relative"
></div>
<div id="Contener1" data-aos="fade-up" data-aos-delay="0">
  <div id="Con1Img">
    <img
      src="static/image/body/Starter.jpg"
      alt="Фото Основателя"
      id="Con1Img1"
    />
  </div>
  <div id="Con1Text">
    <p id="text1">
      “Каждый браслет, который мы создаем, — это не просто украшение. Это
      напоминание о ваших мечтах и вере в то, что они сбудутся„
    </p>
    <p id="text2"><em>-Юлия, Основатель Kodee&nbspDesire</em></p>
  </div>
</div>

<div id="Contener3">
  <div class="Con3grup1" data-aos="fade-up" data-aos-delay="0">
    <img
      src="/static/image/auth/show.png"
      class="con3ImgShow"
      alt="Посмотреть"
    />
    <img
      src="/static/image/productImgs/beskonechnost/img1.jpg"
      alt=""
      class="Con3Imgs"
    />
    <div class="Con3Divs">
      <div class="Con3Text">
        <h3>Кулон "Бес&shy;конечно&shy;сть"</h3>
        <h5>Символ&nbspпос&shy;то&shy;ян&shy;ства и силы духа.</h5>
        <h5>-28500тг</h5>
      </div>
    </div>
  </div>
  <a href="/product/beskonechnost" style="color: var(--black)">
    <div class="con3Btn">Подробнее ></div>
  </a>

  <div class="Con3grup2" data-aos="fade-up" data-aos-delay="0">
    <img
      src="/static/image/auth/show.png"
      class="con3ImgShow"
      alt="Посмотреть"
    />
    <div class="Con3Divs">
      <div class="Con3Text">
        <h3>Кулон "Солнце"</h3>
        <h5>Солнце — источник жизни, тепла и света.</h5>
        <h5>-36000тг</h5>
      </div>
    </div>
    <img
      src="/static/image/productImgs/solntse/img4.jpg"
      alt=""
      class="Con3Imgs"
    />
  </div>
  <a href="/product/solntse" style="color: var(--black)">
    <div class="con3Btn">Подробнее ></div>
  </a>

  <div class="Con3grup1" data-aos="fade-up" data-aos-delay="0">
    <img
      src="/static/image/auth/show.png"
      class="con3ImgShow"
      alt="Посмотреть"
    />
    <img
      src="/static/image/productImgs/samolet/img3.jpg"
      alt=""
      class="Con3Imgs"
    />
    <div class="Con3Divs">
      <div class="Con3Text">
        <h3>Кулон "Самолёт"</h3>
        <h5>
          Для меч&shy;та&shy;те&shy;лей и
          пу&shy;те&shy;шест&shy;ве&shy;нни&shy;ков.
        </h5>
        <h5>-46500тг</h5>
      </div>
    </div>
  </div>
  <a href="/product/samolet" style="color: var(--black)">
    <div class="con3Btn">Подробнее ></div>
  </a>

  <div class="Con3grup2" data-aos="fade-up" data-aos-delay="0">
    <img
      src="/static/image/auth/show.png"
      class="con3ImgShow"
      alt="Посмотреть"
    />
    <div class="Con3Divs">
      <div class="Con3Text">
        <h3>Кулон "Дерево"</h3>
        <h5>Древо жизни символ&nbspмудрости.</h5>
        <h5>-33500тг</h5>
      </div>
    </div>
    <img
      src="/static/image/productImgs/derevo/img1.jpg"
      alt=""
      class="Con3Imgs"
    />
  </div>
  <a href="/product/derevo" style="color: var(--black)">
    <div class="con3Btn">Подробнее ></div>
  </a>
</div>

<div id="Contener4">
  <div id="con4galochki">
    <div class="con4circle">
      <img
        src="/static/icon/black/galochkaB.png"
        class="con4galochka"
        style="transform: rotate(90deg); right: 2px"
        id="con4galochkaBack"
        alt="Назад"
        data-icon="galochkaB.png"
      />
    </div>
    <div class="con4circle">
      <img
        src="/static/icon/white/galochkaB.png"
        class="con4galochka"
        style="transform: rotate(-90deg); left: 2px"
        id="con4galochkaLet"
        alt="Вперед"
        data-icon="galochkaB.png"
      />
    </div>
  </div>
  <div id="Con4Part1"></div>
</div>

<div id="Contener2">
  <div class="Con2DivImg">
    <img
      src="static/image/slider/SImg5.jpg"
      alt=""
      class="SliderImgs"
      id="Con2Imgs5"
    />
    <div id="Con2Img4" class="Con2ImgsText">
      <h2 class="OverlayTitle">Браслетики во льду</h2>
      <p class="OverlayText">Ну это да конечно</p>
    </div>
  </div>
  <div class="Con2DivImg">
    <img
      src="static/image/slider/SImg6.jpg"
      alt=""
      class="SliderImgs"
      id="Con2Imgs2"
    />
    <div id="Con2Img2" class="Con2ImgsText">
      <h2 class="OverlayTitle">Опять что ли</h2>
      <p class="OverlayText">Ну красиво все таки</p>
    </div>
  </div>
  <div class="Con2DivImg">
    <img
      src="static/image/slider/SImg7.jpg"
      alt=""
      class="SliderImgs"
      id="Con2Imgs3"
    />
    <div id="Con2Img3" class="Con2ImgsText">
      <h2 class="OverlayTitle">Ой да поновой браслетики</h2>
      <p class="OverlayText">НУ по новой так по новой</p>
    </div>
  </div>
  <div class="Con2DivImg">
    <img
      src="static/image/slider/SImg11.jpg"
      alt=""
      class="SliderImgs"
      id="Con2Imgs1"
    />
    <div id="Con2Img1" class="Con2ImgsText">
      <h2 class="OverlayTitle">Браслетики</h2>
      <p class="OverlayText">У красивые какие</p>
    </div>
  </div>
</div>

<div id="Contener5" style="display: flex; flex-direction: column">
  <div style="text-align: center; font-size: 2rem">Подарки для самых</div>
  <div
    style="display: flex; flex-direction: row; align-items: center; gap: 20%"
  >
    <div id="con5grid"></div>
    <div style="position: relative" id="con5img">
      <img
        src="/static/image/body/Julia.jpg"
        style="width: 400px; height: 600px; border-radius: 5px"
      />
      <p
        style="
          position: absolute;
          top: 50px;
          text-align: center;
          width: 100%;
          font-size: 1.5rem;
          color: black;
        "
      >
        <b>А&nbspтак&nbspже не забывайте радовать&nbspсебя</b>
      </p>
    </div>
  </div>
</div>

<div id="Contener7" style="width: 100%">
  <div class="con7wrapper" style="width: 100%">
    <img
      src="/static/icon/white/sumka.png"
      data-icon="sumka.png"
      style="
        animation-duration: 8s;
        animation-direction: reverse;
        top: 5%;
        left: 15%;
        rotate: 12deg;
        width: 50px;
      "
      class="con7icons"
    />
    <img
      src="/static/icon/white/sumka.png"
      data-icon="sumka.png"
      style="
        animation-duration: 10s;
        top: 20%;
        left: 70%;
        rotate: -8deg;
        width: 65px;
      "
      class="con7icons con7iconsPh"
    />
    <img
      src="/static/icon/white/sumka.png"
      data-icon="sumka.png"
      style="
        animation-duration: 8s;
        top: 15%;
        left: 45%;
        rotate: 25deg;
        width: 60px;
      "
      class="con7icons"
    />
    <img
      src="/static/icon/white/sumka.png"
      data-icon="sumka.png"
      style="
        animation-duration: 12s;
        animation-direction: reverse;
        top: 35%;
        left: 10%;
        rotate: -15deg;
        width: 55px;
      "
      class="con7icons"
    />
    <img
      src="/static/icon/white/sumka.png"
      data-icon="sumka.png"
      style="
        animation-duration: 10s;
        top: 45%;
        left: 65%;
        rotate: 18deg;
        width: 70px;
      "
      class="con7icons"
    />
    <img
      src="/static/icon/white/sumka.png"
      data-icon="sumka.png"
      style="
        animation-duration: 9s;
        top: 55%;
        left: 30%;
        rotate: 7deg;
        width: 50px;
      "
      class="con7icons"
    />
    <img
      src="/static/icon/white/sumka.png"
      data-icon="sumka.png"
      style="
        animation-duration: 10s;
        top: 65%;
        left: 75%;
        rotate: -20deg;
        width: 65px;
      "
      class="con7icons"
    />
    <img
      src="/static/icon/white/sumka.png"
      data-icon="sumka.png"
      style="
        animation-duration: 8s;
        animation-direction: reverse;
        top: 75%;
        left: 45%;
        rotate: 30deg;
        width: 60px;
      "
      class="con7icons con7iconsPh"
    />
    <img
      src="/static/icon/white/sumka.png"
      data-icon="sumka.png"
      style="
        animation-duration: 10s;
        top: 80%;
        left: 20%;
        rotate: -10deg;
        width: 55px;
      "
      class="con7icons"
    />
    <img
      src="/static/icon/white/sumka.png"
      data-icon="sumka.png"
      style="
        animation-duration: 11s;
        top: 25%;
        left: 85%;
        rotate: -5deg;
        width: 60px;
      "
      class="con7icons"
    />
    <img
      src="/static/icon/white/sumka.png"
      data-icon="sumka.png"
      style="
        animation-duration: 9s;
        animation-direction: reverse;
        top: 50%;
        left: 50%;
        rotate: 10deg;
        width: 65px;
      "
      class="con7icons con7iconsPh"
    />
    <!-- Хочу поставить 2 фотки, на первой гравировка, на второй индивидуальный заказ, с верху над фотками надписи, после того как пользователь долистал до низа фотки, фото затемняется и на самой фотки появляется надпись подробнее -->

    <div id="image1">
      <img
        src="/static/image/ypokovka/1.png"
        class="con7images"
        alt="Упоковка"
      />
      <p style="width: 100%; text-align: center">
        Первая эмоция начинается здесь.
      </p>
    </div>
    <div id="image2">
      <img
        src="/static/image/ypokovka/2.png"
        class="con7images"
        alt="Упоковка"
      />
      <p style="width: 100%; text-align: center">Упоковка внушающая доверие</p>
    </div>
    <div id="image3">
      <img
        src="/static/image/ypokovka/3.png"
        class="con7images"
        alt="Упоковка"
      />
      <p style="width: 100%; text-align: center">
        Подарок, который останется в сердце
      </p>
    </div>
  </div>
</div>

<div id="Contener8">
  <h2 id="con8title">Хочешь сделать браслет особенным?</h2>
  <div
    style="
      position: relative;
      max-height: 500px;
      overflow: hidden;
      margin-bottom: 25px;
      border-radius: 5px;
    "
  >
    <p class="con8text">
      Уникальные заказы, которые будут только у вас и ваших близких
    </p>
    <a href="/shop" class="con8bthDiv" data-aos="fade-up" data-aos-delay="1000">
      <div class="con3Btn con8bth" style="color: white">Подробнее ></div>
    </a>
    <img
      class="con8imgs"
      src="/static/image/productImgs/monetochka/img2.jpg"
      alt=""
    />
  </div>

  <div id="con8div">
    <div class="con8divs">
      <p class="con8text" id="con8text1">
        Мы можем нанести на монетку любую фразу, дату или имя
      </p>
      <a
        href="/shop"
        style="bottom: 4px"
        class="con8bthDiv"
        data-aos="fade-up"
        data-aos-delay="1000"
      >
        <div class="con3Btn con8bth" style="color: white">Подробнее ></div>
      </a>
      <img
        class="con8imgs"
        src="/static/image/body/monetki.jpg"
        alt="Монетка с гравировкой"
      />
    </div>
    <div class="con8divs">
      <p class="con8text" id="con8text2">
        Объединяем браслеты по первой прозбе
      </p>
      <a
        href="/shop"
        style="bottom: 4px"
        class="con8bthDiv"
        data-aos="fade-up"
        data-aos-delay="1000"
      >
        <div class="con3Btn con8bth" style="color: white">Подробнее ></div>
      </a>
      <img src="/static/image/body/obedinenie.jpeg" class="con8imgs" alt="" />
    </div>
  </div>
</div>

<div id="Contener6"></div>

{% endblock %} {% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
<script src="/static/js/index.js" defer></script>
{% endblock %}
