{% extends "base.html" %} {% block title%}
<title>
  Индивидуальные заказы — KoDee Desire - БРАСЛЕТЫ ЖЕЛАНИЙ | ЗОЛОТО 585 ПРОБЫ |
  КОЛЬЕ НА ЛЕСКЕ | КАРАГАНДА
</title>
{% endblock %} {% block style %}
<link rel="stylesheet" href="/static/css/individual.css" />
{% endblock style %} {% block body %}
<div class="div100px"></div>
<div id="bodyIndiv">
  <div id="indivTitle">
    <h1>Индивидуаль&shy;ность — не&nbspтренд, а&nbspвыбор.</h1>
    <h2>Создаём&nbspукрашения, которые рассказывают твою историю.</h2>
  </div>
  <div id="indiv1">
    <div id="indiv1Div" class="indiv1Divs" style="margin-top: 50px">
      <div class="indiv1divText">
        <div class="indiv1text">
          <h3 class="indivh3">Маленькая монета — большая история.</h3>
          <h4>
            Гравируем дату, фразу, имя или рисунок, которые значат что-то только
            для тебя. <br />
            Персональное украшение станет отражением особенного момента.
          </h4>
        </div>
      </div>
      <img
        src="/static/image/con5/img5.webp"
        id="indiv1img"
        alt="Гравировка на монетке"
        class="indiv1imgs"
      />
    </div>
    <div class="indiv1Divs indivSec">
      <h3 class="indivh3">Маленькая монета — большая история.</h3>
      <h4>
        Гравируем дату, слово, имя или фразу, которая значит что-то только для
        тебя. Металл навсегда сохранит смысл, важный именно тебе.
      </h4>
    </div>
    <div
      class="indiv1Divs"
      style="
        width: 100%;
        transform: translateX(100px);
        background-color: transparent;
      "
    >
      <div class="indiv2Div" id="indiv2Div">
        <img
          src="/static/image/body/obedinenie.webp"
          class="indiv1imgs"
          id="indiv2img"
          alt="Объединение браслетов"
        />
        <div class="indiv1divText">
          <div class="indiv1text">
            <h3 class="indivh3">
              Браслеты с историей не всегда должны быть порознь.
            </h3>
            <h4>
              Мы объединяем два (или более) браслета в один: смысл, стиль и
              энергия прошлых украшений — теперь в новом воплощении.
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div
      class="indiv1Divs indivSec"
      style="
        width: 100%;
        transform: translateX(100px);
        background-color: transparent;
      "
    >
      <div class="indiv2Div">
        <div class="indiv1divText">
          <h3 class="indivh3">
            Браслеты с историей не всегда должны быть порознь.
          </h3>
          <h4>
            Мы объединяем два (или больше) браслета в один: смысл, стиль и
            энергия прошлых украшений — теперь в новом воплощении.
          </h4>
        </div>
      </div>
    </div>
    <div id="indiv3Div" class="indiv1Divs">
      <div class="indiv1divText">
        <div class="indiv1text">
          <h3 class="indivh3">Хочешь браслет, которого точно нет ни у кого?</h3>
          <h4>
            Расскажи свою идею — мы воплотим её в жизнь. От 3D-эскиза до
            готового изделия. <br />
            Для тебя, про тебя, с тобой.
          </h4>
        </div>
      </div>
      <img
        src="/static/image/con5/img3.webp"
        class="indiv1imgs"
        id="indiv3img"
        alt="Индивидуальный заказ"
      />
    </div>
    <div class="indiv1Divs indivSec">
      <h3 class="indivh3">Хочешь браслет, которого точно нет ни у кого?</h3>
      <h4>
        Расскажи свою идею — мы воплотим её в металл и форму. От 3D-эскиза до
        живого изделия — под тебя, про тебя, с тобой.
      </h4>
    </div>
  </div>
  <a
    href="https://wa.me/+77003360024"
    target="_blank"
    rel="noopener noreferrer"
    data-aos="fade-up"
    data-aos-delay="500"
  >
    <div class="con3Btn" style="color: var(--white)">
      <span>Продолжить через WhatsApp ></span>
    </div>
  </a>
  <a href="/shop" data-aos="fade-up" data-aos-delay="500">
    <div class="con3Btn" style="color: var(--white); margin-top: 0">
      <span>Каталог ></span>
    </div>
  </a>
</div>
{% endblock body %} {% block script %}
<script src="/static/js/individual.js" defer></script>
{% endblock script %}
