{% extends "base.html" %} {% block title %}
<title>
  {{ product.name }} — KoDee Desire - БРАСЛЕТЫ ЖЕЛАНИЙ | ЗОЛОТО 585 ПРОБЫ |
  КОЛЬЕ НА ЛЕСКЕ | КАРАГАНДА
</title>
{% endblock %} {% block style %}
<link rel="stylesheet" href="/static/css/product.css" />
{% endblock %} {% block body%}
<div id="productBody">
  <div id="product100Px"></div>
  <div id="productMainDiv">
    <div id="productImgsDiv">
      <div id="productGalochkas">
        <img
          src="/static/icon/black/galochka.png"
          style="width: 50px; height: 50px"
          alt="Назад"
          id="profilGalochka1"
          data-icon="galochka.png"
        />
        <img
          src="/static/icon/black/galochka.png"
          style="width: 50px; height: 50px"
          alt="Вперед"
          id="profilGalochka2"
          data-icon="galochka.png"
        />
      </div>
      {% for image in product.images %}
      <img
        src="{{ image.img1 }}"
        class="productFotos"
        alt="Продукция"
        id="productImg{{ image.num }}"
      />
      {% endfor %}
    </div>
    <div id="productMenuDiv">
      <div id="productMenuUp">
        <h1>{{ product.name }}</h1>
        <h4>{{ product.id }}</h4>
        <h1>{{ product.price }} тг</h1>
      </div>
      <div id="productMenuMidle">
        <div id="productDivSize">
          <div id="productDivPodSize">
            <div id="productDivHowSize">
              <div id="productHowSize">
                <h3>Как определить размер?</h3>
                <img
                  src="/static/icon/black/question.png"
                  style="width: 25px; height: 25px"
                  alt="Вопрос"
                  data-icon="question.png"
                />
              </div>
              <h2>Размер</h2>
            </div>
            <div id="productChooseSize">
              <h2 id="productChoose1">1</h2>
              <h2 id="productChoose2">2</h2>
              <h2 id="productChoose3">3</h2>
            </div>
          </div>
        </div>
        <div id="productDivMaterial" class="productInputs">
          <h2>Материал изделия</h2>
          <select id="productMaterial" class="productSelects">
            <option>Золото 585 (Красное)</option>
            <option>Серебро 925</option>
            <option>Золото 585 (Белое)</option>
            <option>Золото 585 (Жёлтое)</option>
          </select>
        </div>
        <div id="productDivColor" class="productInputs">
          <h2>Цвет нити</h2>
          <select id="productColor" class="productSelects">
            <option>Красный</option>
            <option>Черный</option>
          </select>
        </div>
        <div id="productDivSaleBth">
          <div id="productHeard">
            <img
              src="/static/icon/black/heart.png"
              alt="Нравиться"
              class="productHeardImgs"
              id="productLike"
              data-icon="heart.png"
            />
            <img
              src="/static/icon/black/blackHeart.png"
              alt="Поставить Нравиться"
              class="productHeardImgs"
              id="productGetLike"
              data-icon="blackHeart.png"
            />
            <input type="hidden" id="d" value="{{ product.id }}" />
            <input type="hidden" id="f" value="{{ favarite }}" />
            <input type="hidden" id="b" value="{{ basket }}" />
          </div>
          <div id="productDivBth">
            <button
              id="productBth"
              onclick="urlBth('{{product.name}}', '{{user.name}}', '{{address.city}}', '{{address.street}}', '{{address.home}}')"
            >
              Добавить
            </button>
          </div>
        </div>
        <div id="CharactersRight">
          <div id="productDescriptions">
            <h2>Описание</h2>
            <p style="font-size: 1.25rem">{{ product.descriptions }}</p>
          </div>
          <div id="productCharacter">
            <div id="productAllCharacter">
              <div class="DivsCharacters">
                <h3>Артикул</h3>
                <p>{{ product.id }}</p>
              </div>
              <div class="DivsCharacters">
                <h3>Концепция</h3>
                <p>{{ product.concept}}</p>
              </div>
              <div class="DivsCharacters">
                <h3>Категория</h3>
                <p>{{ product.category }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="CharactersBottom">
    <div id="productDescriptions">
      <h2>Описание</h2>
      <p style="font-size: 1.25rem">{{ product.descriptions }}</p>
    </div>
    <div id="productCharacter">
      <h2>Характеристики</h2>
      <div id="productAllCharacter">
        <div>
          <h3>Артикул</h3>
          <p>{{ product.id }}</p>
        </div>
        <div>
          <h3>Концепция</h3>
          <p>{{ product.concept}}</p>
        </div>
        <div>
          <h3>Категория</h3>
          <p>{{ product.category }}</p>
        </div>
      </div>
    </div>
  </div>
  <div id="productPodDiv"></div>
</div>
{% endblock %} {% block script %}
<script src="/static/js/product.js"></script>
{% endblock %}
