{% extends "base.html" %} {% block title %}
<title>Профиль</title>
{% endblock %} {% block style %}
<link rel="stylesheet" href="/static/css/profil.css" />
{% endblock %} {% block body %}

<div id="ProfilBody">
  <div id="ProfilMain">
    <div id="Px100bottom"></div>
    <div id="ProfilTop">
      <p>Добро пожаловать</p>
    </div>
    <div id="ProfilMenuBottom">
      <div id="ProfilMenu">
        <div id="ProfilMenuRight">
          <a href="">
            <div class="ProfilMenuItem Profillinia">
              <img src="/static/image/menu/like.png" alt="Избранные товары" />
              <label for="Избранное">Избранное</label>
            </div>
          </a>
          <div class="ProfilMenuItem" id="ProfilMenuItemProfil">
            <img src="/static/image/menu/profil.png" alt="Профиль" />
            <label for="Профиль">Профиль</label>
          </div>
          <div class="ProfilMenuItem" id="ProfilMenuItemPassword">
            <img src="/static/image/dirProfil/pen.png" alt="Изменить пороль" />
            <label for="Изменить пороль">Изменить пароль</label>
          </div>
          <div class="ProfilMenuItem Profillinia" id="ProfilMenuItemAddress">
            <img src="/static/image/dirProfil/tochka.png" alt="Адрес" />
            <label for="Адрес">Адрес доставки</label>
          </div>
          <a href="/logout">
            <div class="ProfilMenuItem ProfilExit">
              <label for="Выход">Выйти из аккаунта</label>
            </div>
          </a>
        </div>
        <div id="ProfilMenuLeft">
          <div id="ProfilLeftProfil" class="ProfilOb">
            <div id="ProfilLeftProfilTitle" class="ProfilTitle">
              <h1>Профиль пользователя</h1>
            </div>
            <div>
              <div class="ProfilInfo" id="ProfilProfil">
                <div id="ProfilEdit">
                  <img
                    src="/static/image/dirProfil/pen.png"
                    alt="Изменить профиль"
                  />
                  <label for="EditInfo">Изменить</label>
                </div>
                <div id="ProfilMainInfo" class="ProfilInfo">
                  <label style="font-size: 30px; width: 300px"
                    >Основные данные</label
                  >
                  <div id="ProfilNameAndSurename">
                    <label for="NameSurename" class="labelForNameSurename"
                      >Фамилия и имя</label
                    ><br />
                    <label
                      for="userNameSurename"
                      class="otherLabelForNameSurename"
                      >{{user.last_name}} {{user.name}}</label
                    >
                  </div>
                  <div id="ProfilEmail">
                    <label for="NameSurename" class="labelForNameSurename"
                      >Email</label
                    ><br />
                    <label
                      for="userNameSurename"
                      class="otherLabelForNameSurename"
                      >{{user.email}}</label
                    >
                  </div>
                  <div id="ProfilPhone">
                    <label for="NameSurename" class="labelForNameSurename"
                      >Телефон</label
                    ><br />
                    <label
                      for="userNameSurename"
                      class="otherLabelForNameSurename"
                      >{{user.phone}}</label
                    >
                  </div>
                  <div id="ProfilAdres">
                    <label for="NameSurename" class="labelForNameSurename"
                      >Адрес</label
                    ><br />
                    <label
                      for="userNameSurename"
                      class="otherLabelForNameSurename"
                      >{{user.address}}</label
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="ProfilLeftChanchPass" class="ProfilOb">
            <div class="ProfilTitle"><h1>Изменение пароля</h1></div>
            <form id="ProfilMainPass" method="POST">
              <div id="ProfilInpsPass">
                <div id="ProfilFInpPass" class="ProfilInpPass">
                  <label for="" class="ProfilLabels">Новый пароль</label>
                  <div>
                    <img
                      src="/static/image/auth/pass.png"
                      class="ProfilImgsS"
                      alt="Password"
                    />
                    <input
                      type="password"
                      name="newPass"
                      class="ProfilTextInp {% if errors.get('comparisons') %}loginError{% endif %}"
                    />
                  </div>
                </div>
                <div id="ProfilSInpPass" class="ProfilInpPass">
                  <label for="" class="ProfilLabels"
                    >Подтверждение нового пароля</label
                  >
                  <div>
                    <img
                      src="/static/image/auth/pass.png"
                      class="ProfilImgsS"
                      alt=""
                    />
                    <input
                      type="password"
                      name="reNewPass"
                      class="ProfilTextInp {% if errors.get('comparisons') %}loginError{% endif %}"
                    />
                  </div>
                </div>
              </div>
              <div id="ProfilBthPass">
                <button
                  type="submit"
                  name="update_password"
                  value="1"
                  id="ProfilBth"
                >
                  Сохранить
                </button>
              </div>
            </form>
          </div>
          <div id="ProfilLeftChanchInfo" class="ProfilOb">
            <div class="ProfilTitle"><h1>Изменение информации</h1></div>
            <form id="ProfilSplit" method="post">
              <div id="ProfilChangeInfoDivInp">
                <div class="ProfilDivImgs">
                  <img
                    src="/static/image/auth/accoutn-auth.png"
                    alt=""
                    class="ProfilImgs"
                  />
                  <input
                    name="name"
                    type="text"
                    placeholder="Имя"
                    class="ProfilChangeInfoInp"
                  />
                </div>
                <div class="ProfilDivImgs">
                  <img
                    src="/static/image/auth/accoutn-auth.png"
                    alt=""
                    class="ProfilImgs"
                  />
                  <input
                    name="last_name"
                    type="text"
                    placeholder="Фамилия"
                    class="ProfilChangeInfoInp"
                  />
                </div>
                <div class="ProfilDivImgs">
                  <img
                    src="/static/image/menu/phone.png"
                    id="ProfilImgPhone"
                    alt=""
                    class="ProfilImgs"
                  />
                  <input
                    name="phone"
                    type="number"
                    placeholder="Телефон"
                    class="ProfilChangeInfoInp"
                  />
                </div>
                <div class="ProfilDivImgs">
                  <img
                    src="/static/image/auth/pass.png"
                    alt=""
                    class="ProfilImgs"
                  />
                  <input
                    name="email"
                    type="email"
                    placeholder="Email"
                    class="ProfilChangeInfoInp"
                  />
                </div>
              </div>
              <div id="ProfilChangeInfoDivButton">
                <button
                  id="ProfilChangeInfoButton"
                  name="update_info"
                  value="1"
                  type="submit"
                >
                  Сохранить
                </button>
              </div>
            </form>
          </div>
          <div id="ProfilLeftAddAddress">
            <div class="ProfilTitle"><h1>Адреса доставки</h1></div>
            <div id="ProfilAddAdd">
              <button id="ProfilBthAddAdd">Добавить</button>
            </div>
            <div id="PrfilMatch">
              <form id="ProfilAddMain" method="POST">
                {% for address in user.addresses %}
                <div id="address-{{ address.id }}">
                  <div id="ProfilAddDivMain">
                    {% set full_address = "г." ~ address.city ~ " ул." ~
                    address.street ~ " д." ~ address.home ~ " кв." ~
                    address.flat %} {% set user_address = user.address.strip()
                    if user.address else "" %} {% if full_address ==
                    user_address %}
                    <input
                      type="radio"
                      name="addresses"
                      class="ProfilAddRadio"
                      value="г.{{ address.city }} ул.{{ address.street }} д.{{
                        address.home }} кв.{{ address.flat }}"
                      onchange="ShowButton()"
                      checked
                    />
                    {% else %}
                    <input
                      type="radio"
                      name="addresses"
                      class="ProfilAddRadio"
                      value="г.{{ address.city }} ул.{{ address.street }} д.{{
                        address.home }} кв.{{ address.flat }}"
                      onchange="showButton()"
                    />
                    {% endif %}
                    <span class="checkmark"></span>
                    <div id="ProfilAddDiv">
                      <label>{{ address.name }}</label><br />
                      <label
                        >г.{{ address.city }} ул.{{ address.street }} д.{{
                        address.home }} кв.{{ address.flat }}</label
                      >
                    </div>
                    <img
                      src="/static/image/dirProfil/delete.png"
                      id="ProfilDelImgs"
                      onclick="markForDeletion({{ address.id }})"
                    />
                  </div>
                </div>
                {% endfor %}
                <input
                  type="hidden"
                  name="deleted_addresses"
                  id="deletedAddresses"
                  value=""
                />
                <div id="ProfilDivButtonAdd">
                  <button
                    type="submit"
                    id="ProfilButtonAdd"
                    name="work_with_address"
                    value="1"
                  >
                    Сохранить
                  </button>
                </div>
              </form>
              <form method="POST" id="ProfilAddSplit">
                <div id="ProfilAddInps">
                  <div class="ProfilAddDivInps">
                    <img
                      src="/static/image/dirProfil/tochka.png"
                      class="ProfilAddImgs"
                      alt="Имя"
                    />
                    <input
                      type="text"
                      placeholder="Название (можете видеть только вы)"
                      class="ProfilAddInp"
                      name="name"
                    />
                  </div>
                  <div class="ProfilAddDivInps">
                    <img
                      src="/static/image/dirProfil/tochka.png"
                      class="ProfilAddImgs"
                      alt="Город"
                    />
                    <input
                      type="text"
                      placeholder="Город"
                      class="ProfilAddInp"
                      name="city"
                    />
                  </div>
                  <div class="ProfilAddDivInps">
                    <img
                      src="/static/image/dirProfil/tochka.png"
                      class="ProfilAddImgs"
                      alt="Улица"
                    />
                    <input
                      type="text"
                      placeholder="Улица"
                      class="ProfilAddInp"
                      name="street"
                    />
                  </div>
                  <div class="ProfilAddDivInps">
                    <img
                      src="/static/image/dirProfil/tochka.png"
                      class="ProfilAddImgs"
                      alt="Дом"
                    />
                    <input
                      type="text"
                      placeholder="Дом"
                      class="ProfilAddInp"
                      name="home"
                    />
                  </div>
                  <div class="ProfilAddDivInps">
                    <img
                      src="/static/image/dirProfil/tochka.png"
                      class="ProfilAddImgs"
                      alt="Квартира"
                    />
                    <input
                      type="text"
                      placeholder="Квартира (не обязательно)"
                      class="ProfilAddInp"
                      name="flat"
                    />
                  </div>
                </div>
                <div id="ProfilAddDivBth">
                  <button
                    id="ProfilAddBth"
                    name="add_address"
                    value="1"
                    type="submit"
                  >
                    Добавить
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %} {% for category, message in messages %}
  <div class="message-box {{ category }}">{{ message }}</div>
  {% endfor %} {% endif %} {% endwith %}
</div>
{% endblock %} {% block script %}
<script src="/static/js/profil.js"></script>
{% endblock %}
