{% extends "baseForReg.html" %} {% block title%}
<title>
  Регистрация — KoDee Desire - БРАСЛЕТЫ ЖЕЛАНИЙ | ЗОЛОТО 585 ПРОБЫ | КОЛЬЕ НА
  ЛЕСКЕ | КАРАГАНДА
</title>
{% endblock %} {% block style %}
<link rel="stylesheet" href="/static/css/register.css" />
{% endblock %} {% block body %} {% if messageForNoReg %}
<div id="messageForNoReg"></div>
{% endif %}

<section id="Contener">
  <div id="Forma">
    <a href="/">
      <div id="ImgLogo">
        <img
          src="/static/icon/black/logo.png"
          data-icon="logo.png"
          alt=""
          id="Logo"
        />
      </div>
    </a>
    <article>
      <h1 id="MainText">РЕГИСТРАЦИЯ</h1>
    </article>
    <form method="post" id="regForm">
      <div id="UserInp">
        <article class="ImgInp">
          <img
            src="/static/icon/black/accoutn-auth.png"
            alt="Account Image"
            class="ImgInInput"
          />
          <input
            type="text"
            id="name"
            name="name"
            alt="Name"
            placeholder="Name"
          />
        </article>
        <article class="ImgInp">
          <img
            src="/static/icon/black/mail.png"
            alt="Email"
            class="ImgInInput"
          />
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Email"
            id="email"
          />
        </article>
        <article class="ImgInp">
          <img
            src="/static/icon/black/pass.png"
            alt="Password"
            class="ImgInInput"
          />
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            class="{% if errors.get('len') or errors.get('have') %}loginError{% endif %}"
          />
          <img
            src="/static/icon/black/hide.png"
            alt="Hide Password"
            id="Hide"
            class="ImgPass"
          />
          <img
            src="/static/icon/black/show.png"
            alt="Show Password"
            id="Show"
            class="ImgPass"
          />
        </article>
        {% if errors.get('len') %}
        <div id="messageForErrorLen">{{ errors['len'] }}</div>
        {% elif errors.get('have') %}
        <div id="messageForErrorHave">{{ errors['have'] }}</div>
        {% endif %}
        <button type="submit" id="ButtonSignIn">Регистрация</button>
      </div>
    </form>
    <div>
      <p id="regP">Уже есть аккаунт? <a href="/login" id="LogIn">Вход</a></p>
    </div>
  </div>
</section>
{% endblock %} {% block script %}
<script src="/static/js/register.js"></script>
{%endblock%}
