{% extends "baseForReg.html" %} {% block title%}
<title>Sign Up</title>
{% endblock %} {% block style %}
<link rel="stylesheet" href="/static/css/register.css" />
{% endblock %} {% block body %}
<div id="Contener">
  <div id="Forma">
    <a href="/">
      <div id="ImgLogo">
        <img src="/static/image/menu/logo_x2.PNG" alt="" id="Logo" />
      </div>
    </a>
    <div>
      <h1 id="MainText">SIGN UP</h1>
    </div>
    <form method="post">
      <div id="UserInp">
        <div class="ImgInp">
          <img
            src="/static/image/auth/accoutn-auth.png"
            alt="Account Image"
            class="ImgInInput"
          />
          <input
            type="text"
            id="name"
            name="name"
            alt="Name"
            placeholder="Name"
          />
        </div>
        <div class="ImgInp">
          <img
            src="/static/image/auth/mail.png"
            alt="Email"
            class="ImgInInput"
          />
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Email"
            id="email"
          />
        </div>
        <div class="ImgInp">
          <img
            src="/static/image/auth/pass.png"
            alt="Password"
            class="ImgInInput"
          />
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            class="{% if errors.get('len') %}loginError{% endif %}"
          />
          <img
            src="/static/image/auth/hide.png"
            alt="Hide Password"
            id="Hide"
            class="ImgPass"
          />
          <img
            src="/static/image/auth/show.png"
            alt="Show Password"
            id="Show"
            class="ImgPass"
          />
        </div>
        {% if errors.get('len') %}
        <div>{{ errors['len'] }}</div>
        {% endif %}
        <button type="submit" id="ButtonSignIn">Sign Up</button>
      </div>
    </form>
    <div>
      <p>Already have an account? <a href="/login" id="LogIn">Log in</a></p>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script src="/static/js/register.js"></script>
{%endblock%}
