{% extends "base.html" %} {% block title %}<title>
  Каталог — KoDee Desire - БРАСЛЕТЫ ЖЕЛАНИЙ | ЗОЛОТО 585 ПРОБЫ | КОЛЬЕ НА ЛЕСКЕ
  | КАРАГАНДА</title
>{% endblock %} {% block style %}
<link rel="stylesheet" href="/static/css/shop.css" />
{% endblock %} {% block body %}
<div id="Darker"></div>
<div id="BockMenu">
  <div id="FilterHeight">
    <div id="BockMenuTitle">
      <p>Фильтр</p>
      <div id="BockMenuDivImg">
        <img
          src="/static/icon/black/close.png"
          alt="Выйти"
          id="BockMenuTitleImg"
          data-icon="close.png"
        />
      </div>
    </div>
    <div id="BockMenuMain"></div>
    <div id="BockMenuDivFuter">
      <p>Выбраны все товары</p>
      <div id="BockMenuDivButtons">
        <div id="BockMenuBthSbros">Сбросить</div>
        <div id="BockMenuDivBthShow">
          <p>Показать</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="ShopBody">
  <div id="PodShopBody">
    <div class="Contener1">
      <div class="Con1Text">
        <p id="Con1GlText">Браслеты</p>
        <div class="Con1DivVtText">
          <p id="Con1VtText">
            Браслеты Kodee – это не только украшения. Это ваше настроение,
            чувства и истории, которые вы будете рассказывать миру
            именно&nbsp;сегодня. <br />
            Наслаждайтесь вашей индивидуальностью каждый день.
          </p>
        </div>
      </div>
      <img
        src="/static/image/imgShop/BrasletsAndEgg.jpg"
        class="imgs"
        alt="Фото браслета Kodee"
      />
    </div>
    <div id="TablMenu">
      <div id="Divfiltr">
        <img
          src="/static/icon/black/control.png"
          alt="Фильтры"
          class="ShopImgControl"
          data-icon="control.png"
        />
        <p>фильтры</p>
      </div>
    </div>
    <div id="productGrid" name="ShopGrid"></div>
    <div id="shopDivBthMore" data-aos="fade-up" data-aos-delay="0">
      <button id="shopBthMore">Еще</button>
    </div>
  </div>
  {% endblock %} {% block script %}
  <script src="/static/js/shop.js" defer></script>
  {% endblock %}
</div>
